<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=" />
        <add name="localhost_EWON_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=EWON" />
        <add name="Ketoan.Properties.Settings.EWONConnectionString" connectionString="Data Source=112.78.2.90,1433 ;Initial Catalog=ewon7234_KeToan;persist security info=True;user id=ewon7234_hung;password=Chit123#@;MultipleActiveResultSets=True;App=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="EWONEntities" connectionString="metadata=res://*/EWONDATASET.csdl|res://*/EWONDATASET.ssdl|res://*/EWONDATASET.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EWON;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="Ketoan.Properties.Settings.R50NAMKIMConnectionString"
            connectionString="Data Source=.;Initial Catalog=R50NAMKIM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>