<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=PHUC-PC\PHUCSQL;integrated security=SSPI;initial catalog=" />
        <add name="localhost_R50NAMKIM_Connection" connectionString="XpoProvider=MSSqlServer;data source=PHUC-PC\PHUCSQL;integrated security=SSPI;initial catalog=R50NAMKIM" />
        <add name="Ketoan.Properties.Settings.R50NAMKIMConnectionString"
            connectionString="Data Source=PHUC-PC\PHUCSQL;Initial Catalog=R50NAMKIM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>